<div class="index">
 
 <div class="header">
  
  <h2>Books</h2>
  
 </div>

 <div class="main">
  <% @books.each do |book| %> 
   <table cellspacing="15">
     <th class="box1">Title</th>
     <th class="box2">Body</th>
     <th></th>
    <tr>
     <td><%= book.title %></td>
     <td><%= book.body %></td>
     <td><%= link_to 'Show','books/:id' %></td>
     <td><%= link_to 'Edit','books/:id/edit' %></td>
     <td><%= link_to 'Destroy' %></td>
    </tr>
   </table>
  <% end %>
 </div>

 <div class="content">
   <h2 class="content-title">New book</h2>
   
    <%= form_with model:@book do |f| %>
    
    <ul>
     
     <h4>Title</h4>
     
     <li><%= f.text_field :title %></li>
     
     <h4>Body</h4>
     
     <li><%= f.text_area :body %></li>
     
     <li><%= f.submit 'Create Book' %></li>
     
    </ul>
   
   <% end %>
  
 </div>
</div>